* {
  /*border-top: 10px solid #1098ad;*/
  margin: 0;
  padding: 0;
}

/* Page Sections*/
body {
  color: #444;
  font-family: sans-serif;

  border-top: 10px solid #1098ad;
}

/*adding a conainer element and specify its width and left and right margins on auto, centers our page*/
.container {
  width: 800px;
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;
  /*padding: 20px;
  padding-left: 40px;
  padding-right: 40px;*/
  padding: 20px 40px;
  margin-bottom: 50px;
  /*height: 80px;*/
}
s .post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid blue;
  border-bottom: 5px solid blue;
  padding: 50px 0;
  width: 500px;
}

article {
  margin-bottom: 60px;
}

/* Smaller elements*/
h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.3;
  margin-bottom: 15px;
}

ul {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 50px;
}

li:last-child {
  margin-bottom: 0;
}

nav {
  font-size: 18px;
}

/* footer p {
  font-size: 16px;
} */

/*article header p {
  font-style: italic;
}*/

#author {
  font-style: italic;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.author-list {
  list-style: none;
}

/*.first-li {
  font-weight: bold;
}*/

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child(even) {
  color: red;
}

/* Misconception: This wont work*/
article p:first-child {
  color: red;
}

/*Styling links*/
/* LVHA - These styles should come always in this order */
a:link {
  /*this styles only <a elements with href attribute*/
  color: #1098ad;
  text-decoration: none;
}

/* you can use this pseudoclass to style already visited link */
a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

.post-img {
  width: 100%;
  height: auto;
}

#copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green;
}

nav a:link {
  /*background-color: orangered;
  margin: 20px;
  padding: 20px;

  display: block;
  */

  margin-right: 30px;
  margin-top: 10px;

  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0px;
}

/*nav a:link,
nav p {
  font-size: 18px;
}*/
